/* * {
    outline: 2px solid red;
} */
.blue-background{
    background: linear-gradient(to right, rgb(202, 239, 252), lightblue);
}
.no-background{
    background: none;
}
.white-text{
    color: white;
}
.background-gray{
    background: linear-gradient(to right, rgb(187, 187, 187), rgb(177, 177, 177));
}
.no-space{
    margin: 0;
    padding: 0;
}
.dark-backgound{
    background: rgb(65, 64, 64);
    color: lightgrey;
}
.full-height{
    height: 100vh;
}
.more-height{
    height: 40vh;

}
.hover-card:hover{
background: white;
}